    <div id="div">

    </div>
    
    
    <div class="container-fluid" id="navbar">
        <img src="https://www.vectorlogo.zone/logos/shopify/shopify-ar21.png" height="50px">
        <img src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg" alt="" height="40px">
       <a href="">Home</a>
       <a href="">About</a>
       <a href="">Gallery</a>
       <a href="">Contact Us</a>
       <a href="">Help</a>
       <a href=""><i class="fa-thin fa-user-vneck"></i>Account</a>
    </div>

<hr>

